.DS_Store
/.idea
/vendor/*
/var/log/*
!/var/log/.gitkeep
/var/cache/*
!/var/cache/.gitkeep
/var/storage/*
!/var/storage/.gitkeep
/bin
/typo3cms
/.env

/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php
!/public/typo3conf/realurl_conf.php
!/public/typo3conf/mask.json
!/public/typo3conf/ext
!/public/typo3conf/l10n
/public/typo3conf/ext/*
!/public/typo3conf/ext/template_*
/public/typo3conf/ext/template


/public/FIRST_INSTALL
/public/fileadmin
/public/uploads
/public/typo3temp
/public/typo3
/public/index.php
